doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title OurServices
        style 
            include style.css
    body 
        include ./Header.pug
        div.container
          if(open===true)
             h1 Welcome to Our Services section
             img(src="https://img1.freepng.fr/20180201/rze/kisspng-u0627u0631u0648u0646u062f-u062au062cu0627u0631u062-technical-after-services-5a72f0e8d1ed79.8029570215174822168599.jpg" alt="")
             h3 your request to logIn is accepted on day #{dayOn}, hour #{hourOn}:00
          else 
             h1 Sorry We'are closed!
             p The web application is only available during working hours (Monday to Friday,  from 9 to 17).
             img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMibTp_2G2fgYuRzmfqfIzgIH_TG36WszLzw&usqp=CAU" alt="")
        include ./Footer.pug